@charset "UTF-8";
@import url(style_Reset.css);
/*    */

/* div#wrap 시작 */
div#wrap{
/* 	border: 1px solid #d3d3d3; */
	width: 1340px;
	height: 310px;
	margin: 180px auto 0;
	
	
}
/* div#wrap 끝 */


main#main{
	margin-left: 60px;
/*     border: 1px solid #000; */
	
}

#main p{
	
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 45px;
}


 
/*  .right {margin-left: auto;} */
 
 #main table{
     width: 1100px;
     border-top: 1px solid #000;
     border-bottom: 1px solid rgba(211,211,211,0.5);
     
 }
 #main table tr{
  border-top: 1px solid #000;
 }
 #main table td{
     border-top: 1px solid rgba(211,211,211,0.5);
     text-align: center;
/*      border: 1px solid #000; */
 }

#main table tr:nth-of-type(1) {
	height: 52px;
	font-size: 13px;
}


td:nth-child(1) {
	    width: 80px;
}
 td:nth-child(2) {
		width: 100px;
	
}
 td:nth-child(3) {
		width: 450px;
	
}
 td:nth-child(4) {
		width: 170px;
	
}
 td:nth-child(5) {
		width: 150px;
	
}
 

button#selectDelBtn{
	color: #000;
    width: 128px;
    height: 38px;
    font-size: 13px;
    border: 1px solid #000;
    background-color: #fff;
    cursor:pointer;
	margin-right: 3px;
	margin-top: 20px;
}
/* main#main 끝 */

/* MyPage_Nav 시작 */
nav#myPage ul li:nth-of-type(4) a {
	color:#46479b;
}
/* MyPage_Nav 끝 */