@charset "UTF-8";
@import url(style_Reset.css);
/* 회원가입 Intro 스타일 시작   */


/*div#msg 시작  */

div#msg{
	width: 930px;
	margin: auto;
	
}

div#msg h1{
	
	text-align: center;
	font-weight: lighter;
	margin-top: 90px;
	margin-bottom: 20px;
	
	
}

div#msg p{
	font-size: 13px;
	text-align: center;
	line-height: 30px;
    margin-bottom: 40px;
	
}
/*div#msg 끝  */

/*div#wrap 시작  */
div#wrap{
	width: 930px;
	height: 425px;
    border: 1px solid #d3d3d3;
    margin: 20px auto;
    
}
/*div#wrap 끝  */

/*div#buttonArea 시작  */

#wrap div#buttonArea{
	
/*border: 1px solid #000;*/   
    width: 550px;
    margin: 130px auto;
	
}

#wrap div#buttonArea p{
	
	font-size: 22px;
	
}

#wrap div#buttonArea button{
	color: #fff;
    width: 550px;
    height: 60px;
    font-size: 16px;
    padding: 14px;
    border: none;
    margin-top: 12px;
    border: 1px solid #000;
    background-color: #000;
	cursor:pointer;
    transition: all 0.1s linear .01s;
}

#wrap div#buttonArea button:hover {
	    
	   border: 1px solid #000;
	   background-color: #fff;
	   color: #000;
	
}
/*div#buttonArea 끝  */


